@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">test wasm in vs2019 + .net core3.1 + iis express</h1>
    <p>To see whether can we download the wasm. F12 and refresh to check the wasm mime. <a href="./test.wasm">test.wasm</a>.</p>
</div>
